*.user
Importer-build-*/*
Importer/debug/*
Importer/GeneratedFiles/*
Importer/images/*
Importer/ipch/*
Importer/replays/*
Importer/translations/*
Importer/lingvo_replays/*
Importer/Importer.opensdf
Importer/Importer.pro.user
Importer/Importer.sdf
Importer/Importer.vcxproj.user
Importer/Importer.suo
Importer/ui_importerwindow.h
Importer/vc100.pdb
