*.user
*.sdf
ui_*.h
*.pdb
Importer-build-*/*
Importer/debug/*
Importer/GeneratedFiles/*
Importer/images/*
Importer/ipch/*
Importer/replays/*
Importer/translations/*
Importer/lingvo_replays/*
Importer/Importer.opensdf
Importer/Importer.suo
